doctype 5
html.wf-ffmetaserifwebpro-n5-active.wf-ffmetaserifwebpro-n7-active.wf-ffmetawebpro-n4-active.wf-active(lang='en')
    head
        title joola.io.config
        link(rel='stylesheet', href='/assets/css/bootstrap.css')
        link(rel='stylesheet', href='/assets/css/bootstrap-responsive.css')
        script(src='/assets/js/jquery-1.7.2.min.js')
        script(src='/assets/js/jquery-ui.min.js')
        script(src='/assets/js/html5.js')
        script(src='/assets/js/bootstrap.min.js')
        script(src='/assets/js/prettify.js')
    body
